[submodule "Lzengine/vendor/spdlog"]
	path = Lzengine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lzengine/vendor/GLFW"]
	path = Lzengine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
